* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.container {
    width: 30%;
    margin: 7% auto;
    overflow: auto;
    min-height: 50vh;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.loginFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    align-items: center;
}

.mainAboutSection{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 16px;
}

.loginHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--accent-color);
    font-size: 20px;
    overflow: auto;
    color: #fff;
    padding: 30px;
    font-weight: bold;
}

/* Styling for the phone */
@media only screen and (max-width: 640px) { 
    /* Here are some changes*/
    .container {
        width: 70%;
        margin: 15% auto;
        overflow: auto;
        min-height: 50vh;
        border: 1px solid #ddd;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 641px) and (max-width: 880px) { 
    /* Here are some changes*/
    .container {
        width: 50%;
        margin: 10% auto;
        overflow: auto;
        min-height: 50vh;
        border: 1px solid #ddd;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
}

/* Styling for the phone */
@media only screen 
    and (min-width: 881px)
    and (max-width: 1200px) { 
    /* Here are some changes*/
    .container {
        width: 40%;
        margin: 7% auto;
        overflow: auto;
        min-height: 50vh;
        border: 1px solid #ddd;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
}