<div class="container">
    <div class="loginHeader">
        <p>About</p>
    </div>
    <div class="mainAboutSection">
        <p>A web app where you can search for a Github user by their username or a Github repository by its repo name.</p>
        <p><br>No Authentication is required to use the application.</p>
        <p><br>The application gets all of its data from the Github API. It's greate for quick Github searches and gives you the most important information on a repo or user</p>
        <p><br><b>How to use:</b></p>
        <p>Enter the keyword into the search field then press enter. Click on any of the user results for more info or <strong>View in Github</strong> for repo results.</p>
        <p><br>No user data is being collected by us(the same can't be said for Github).</p>
    </div>
    <footer class="loginFooter" >
        <div class="divider" [ngStyle]="{'margin-bottom':'25px'}"></div>
        <p>Copyright &copy; 2022</p>
    </footer>    
</div>

