<div class="container">
    <div class="user_info_section">
        <div class="crud_app_info card">
            <img src="https://avatars.githubusercontent.com/u/93252545?v=4">
            <p>Username</p>
            <p>user1@users.com</p>
            <p><a>kennjr</a></p>
        </div>
        
        <div class="gh_info card">
            <p>Followers : 10</p>
            <p>Following : 3</p>
            <div>Repositories : 18</div>

        </div>
    </div>
    <div class="fav_grid_section ">
        <div class="card grid">
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
        </div>
    </div>
</div>